_site
.bundle
.sass-cache
.jekyll-cache
.jekyll-metadata
.DS_store
.ruby-version
.tweet-cache
Gemfile.lock
assets/libs/
node_modules/
vendor
.idea
_posts/._2026-04-27-recurrefinereason.md
assets/img/2026-04-27-recurrefinereason/._midas.png
assets/img/2026-04-27-recurrefinereason/._cossim.png
assets/img/2026-04-27-recurrefinereason/._.DS_Store
assets/img/._.DS_Store
assets/bibliography/._2026-04-27-recurrefinereason.bib
assets/._.DS_Store
._.DS_Store
.gitignore
